<h3>Edit workout</h3>

<p>
<form action="/workouts/<%= @workout.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  Type:
  <select name="workout[name]">
    <option value="emom" <%= 'selected' if @workout.name == "emom" %>>EMOM</option>
    <option value="amrap" <%= 'selected' if @workout.name == "amrap" %>>AMRAP</option>
    <option value="time_cap" <%= 'selected' if @workout.name == "time_cap" %>>Time Cap</option>
    <option value="for_time" <%= 'selected' if @workout.name == "for_time" %>>For Time</option>
  </select>

Enter time: <input type="text" name="workout[time]" value="<%= @workout.time %>">
</p>

  <p>Movement(s):</br>
    <i>Missing a movement? Make sure to first manage your movements <a href="/movements">here</a>.</i>
  </p>

  Movements:</br>
    <%@movements.each do |m|%>
      <% movement = Movement.find_by_id(m.movement_id) %>
      <%=movement.name%> | Weight: <%=m.weight%> Reps: <%=m.reps%>
    </br>
    <%end%>

    <select name="movement_1[name]">
    <option value="select" selected>Select Movement</option>
    <% Movement.all.each do |m| %>
      <option value="<%=m.name%>" <%= 'selected' if @movement.name.downcase == "m.name" %>>><%=m.name%></option>
    <% end %>
  </select>

  Weight: <input type="text" name="movement_1[weight]">
  Reps: <input type="text" name="movement_1[reps]">

    <select name="movement[name]">
    <% Movement.all.each do |m| %>
    <!-- how to have correct movement selected? needs to find it first -->
    <option value="<%=m.name%>" <%= 'selected' if @movement.name.downcase == "m.name" %>><%=m.name%></option>
    <% end %>
  </select>

  Weight: <input type="text" name="weight" value="<%= @w_m.weight %>">

  Reps: <input type="text" name="reps" value="<%= @w_m.reps %>">


  <p><input type="submit" value="Edit Workout"></p>
</form>
