<h3>Create a new workout</h3>

<i>Missing a movement? Make sure to first manage your movements <a href="/movements">here</a>.</i>

<p>
<form action="/workouts" method="POST">
  <!-- add different method for date input later? -->
  Type:
  <select name="workout[name]">
    <option value="emom">EMOM</option>
    <option value="amrap">AMRAP</option>
    <option value="time_cap">Time Cap</option>
    <option value="for_time">For Time</option>
  </select>

Enter time: <input type="text" name="workout[time]">
</p>

  <p>Movement(s):</p>

<!-- Can this be simplified? -->
    <select name="movement_1[name]">
    <option value="select" selected>Select Movement</option>
    <% @movements.each do |m| %>
      <option value="<%=m.name%>"><%=m.name%></option>
    <% end %>
  </select>

  Weight: <input type="text" name="movement_1[weight]">
  Reps: <input type="text" name="movement_1[reps]">

</br>
  <select name="movement_2[name]">
  <option value="select" selected>Select Movement</option>
  <% @movements.each do |m| %>
    <option value="<%=m.name%>"><%=m.name%></option>
  <% end %>
</select>

Weight: <input type="text" name="movement_2[weight]">
Reps: <input type="text" name="movement_2[reps]">

</br>
  <select name="movement_3[name]">
  <option value="select" selected>Select Movement</option>
  <% @movements.each do |m| %>
    <option value="<%=m.name%>"><%=m.name%></option>
  <% end %>
</select>

Weight: <input type="text" name="movement_3[weight]">
Reps: <input type="text" name="movement_3[reps]">


  <p><input type="submit" value="Add Workout"></p>
</form>
