This is the workout

<h3><%= @workout.name %></h3>

Display movements and other info here

<p></p>

<a href="/workouts/<%= @workout.id %>/edit">Edit this workout</a> |
<a href="/workouts/<%= @workout.id %>/delete">Delete this workout</a>

<form action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/workouts/<%= @workout.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
