<h3>Workout Name: <%= @workout.name.upcase %></h3>

Type: <%= @workout.style.upcase.gsub("_"," ") %></br>
Time: <%=@workout.time%></br>
Rounds: <%=@workout.rounds%>

<p></p>

<!-- iterate through movements in @workout_movements array and display each -->
Movements:</br>
  <%@workout_movements.each do |m|%>
    <%=m.keys[0]%> | Reps: <%=m.values[0][:reps]%> Weight: <%=m.values[0][:weight]%> 
  </br>
  <%end%>

<p>
<form action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>
</p>

<form action="/workouts/<%= @workout.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
