This is the workout

<h3><%= @workout.name %></h3>

Time: <%=@workout.time%>

<p></p>

<!-- iterate through movements in @workout_movements array and display each -->
Movements:</br>
  <%@workout_movements.each do |m|%>
    <% movement = Movement.find_by_id(m.movement_id) %>
    <%=movement.name%> | Weight: <%=m.weight%> Reps: <%=m.reps%>
  </br>
  <%end%>

<p>
<form action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>
</p>

<form action="/workouts/<%= @workout.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
